### **Movie Recommendation System**
## **Objective**
Movie recommendation systems provide a mechanism to assist users in classifying users with similar interests. This makes recommender systems essentially a central part of websites and e-commerce applications.

## **Import Library**

In [1]:
import pandas as pd
import numpy as np

## **Import Data**

In [2]:
df = pd.read_csv(r'https://raw.githubusercontent.com/YBIFoundation/Dataset/main/Movies%20Recommendation.csv')

In [3]:
df.head()

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98.0,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142.0,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122.0,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

## **Descirbing the data**

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4760 entries, 0 to 4759
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Movie_ID                  4760 non-null   int64
 1   Movie_Title               4760 non-null   object
 2   Movie_Genre               4760 non-null   object
 3   Movie_Language            4760 non-null   object
 4   Movie_Budget              4760 non-null   int64
 5   Movie_Popularity          4760 non-null   float64
 6   Movie_Release_Date        4760 non-null   object
 7   Movie_Revenue             4760 non-null   int64
 8   Movie_Runtime             4758 non-null   float64
 9   Movie_Vote                4760 non-null   float64
 10  Movie_Vote_Count          4760 non-null   int64
 11  Movie_Homepage            1699 non-null   object
 12  Movie_Keywords            4373 non-null   object
 13  Movie_Overview            4757 non-null   object
 14  Movie_Production_House    4760 non-null   object
 15  Movie_Production_Country  4760 non-null   object
 16  Movie_Spoken_Language     4760 non-null   object
 17  Movie_Tagline             3942 non-null   object
 18  Movie_Cast                4733 non-null   object
 19  Movie_Crew                4760 non-null   object
 20  Movie_Director            4738 non-null   object
dtypes: float64(3), int64(4), object(14)
memory usage: 781.1+ KB

## ***Data Visualization ***

In [5]:
df.shape

(4760, 21)

In [6]:
df.columns

Index(['Movie_ID', 'Movie_Title', 'Movie_Genre', 'Movie_Language',
       'Movie_Budget', 'Movie_Popularity', 'Movie_Release_Date',
       'Movie_Revenue', 'Movie_Runtime', 'Movie_Vote', 'Movie_Vote_Count',
       'Movie_Homepage', 'Movie_Keywords', 'Movie_Overview',
       'Movie_Production_House', 'Movie_Production_Country',
       'Movie_Spoken_Language', 'Movie_Tagline', 'Movie_Cast', 'Movie_Crew',
       'Movie_Director'],
      dtype='object')

## **Data Pre-processing**

In [7]:
df_features = df[ ['Movie_Genre', 'Movie_Keywords', 'Movie_Tagline', 'Movie_Cast', 'Movie_Director']].fillna('')

In [8]:
df_features.shape

(4760, 5)

In [9]:
df_features

,Movie_Genre,Movie_Keywords,Movie_Tagline,Movie_Cast,Movie_Director
0,Crime Comedy,hotel new year's eve witch bet hotel room,Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,Allison Anders
1,Adventure Action Science Fiction,android galaxy hermit death star lightsaber,"A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,George Lucas
2,Animation Family,father son relationship harbor underwater fish...,"There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,Andrew Stanton
3,Comedy Drama Romance,vietnam veteran hippie mentally disabled runni...,"The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,Robert Zemeckis
4,Drama,male nudity female nudity adultery midlife cri...,Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,Sam Mendes
...,...,...,...,...,...
4755,Horror,,The hot spot where Satan's waitin'.,Lisa Hart Carroll Michael Des Barres Paul Drak...,Pece Dingo
4756,Comedy Family Drama,,It’s better to stand out than to fit in.,Roni Akurati Brighton Sharbino Jason Lee Anjul...,Frank Lotito
4757,Thriller Drama,christian film sex trafficking,She never knew it could happen to her...,Nicole Smolen Kim Baldwin Ariana Stephens Brys...,Jaco Booyens
4758,Family,,,,
4759,Documentary,music actors legendary perfomer classic hollyw...,,Tony Oppedisano,Simon Napier-Bell

## **Define Target Variable (y) and Feature Variables (x)**

In [10]:
x = df_features['Movie_Genre'] + ' ' + df_features['Movie_Keywords'] + ' ' + df_features['Movie_Tagline'] + ' ' + df_features['Movie_Cast'] + df_features['Movie_Director']

In [11]:
x

0       Crime Comedy hotel new year's eve witch bet ho...
1       Adventure Action Science Fiction android galax...
2       Animation Family father son relationship harbo...
3       Comedy Drama Romance vietnam veteran hippie me...
4       Drama male nudity female nudity adultery midli...
                              ...
4755    Horror  The hot spot where Satan's waitin'. Li...
4756    Comedy Family Drama  It’s better to stand out ...
4757    Thriller Drama christian film sex trafficking ...
4758                                            Family
4759    Documentary music actors legendary perfomer cl...
Length: 4760, dtype: object

In [12]:
x.shape

(4760,)

## **Get Feature Text Conversion to Tokens**

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer   
tfidf = TfidfVectorizer()
x = tfidf.fit_transform(x)
x.shape

(4760, 20663)

In [14]:
print(x)

  (0, 655)	0.16262957145774184
  (0, 18431)	0.1962711409320156
  (0, 11694)	0.14164337533513574
  (0, 11447)	0.165264014462748
  (0, 1580)	0.18076757769738178
  (0, 9423)	0.09798087551420058
  (0, 1359)	0.14164337533513574
  (0, 791)	0.13496700839177703
  (0, 15749)	0.1426376240765807
  (0, 18370)	0.11240630649274984
  (0, 10918)	0.08630813208986426
  (0, 13470)	0.062232628720122286
  (0, 20032)	0.17577654512129037
  (0, 6638)	0.08566211133363479
  (0, 19985)	0.10643704814029137
  (0, 9505)	0.13290090230347504
  (0, 18206)	0.09757953526456405
  (0, 13559)	0.07246213547989389
  (0, 4620)	0.11982714282573949
  (0, 6499)	0.11404364072001853
  (0, 8506)	0.19736418022707264
  (0, 8998)	0.14681661831949364
  (0, 1700)	0.1962711409320156
  (0, 11113)	0.1544047030004985
  (0, 13561)	0.08227116414935932
  :	:
  (4757, 13230)	0.1917059258424139
  (4757, 6453)	0.1278233416956338
  (4757, 3498)	0.17043427365383906
  (4757, 10211)	0.24070268624796623
  (4757, 8337)	0.17486057368807015
  (4757, 10100)	0.18223818201928874
  (4757, 18314)	0.07832581222100125
  (4757, 18398)	0.0998144365796161
  (4757, 9206)	0.117467101278103
  (4757, 13168)	0.1488517539356107
  (4757, 5315)	0.05807442979491625
  (4758, 6194)	1.0
  (4759, 13584)	0.34167984405714247
  (4759, 16871)	0.34167984405714247
  (4759, 14123)	0.34167984405714247
  (4759, 212)	0.3258920132175228
  (4759, 10738)	0.3060016986743309
  (4759, 3603)	0.2831147072916264
  (4759, 8590)	0.26591080832993275
  (4759, 13011)	0.3146903689708659
  (4759, 6746)	0.2179341128724163
  (4759, 5146)	0.1842532043388515
  (4759, 18451)	0.2133479262794535
  (4759, 1693)	0.2179341128724163
  (4759, 12912)	0.15991356654874977

## **Train Test Split**

In [15]:
from sklearn.metrics.pairwise import cosine_similarity
Similarity_Score = cosine_similarity(x)

In [16]:
Similarity_Score

array([[1.        , 0.01337921, 0.03525659, ..., 0.        , 0.        ,
        0.        ],
       [0.01337921, 1.        , 0.0079559 , ..., 0.        , 0.        ,
        0.        ],
       [0.03525659, 0.0079559 , 1.        , ..., 0.        , 0.07948776,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.07948776, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [17]:
Similarity_Score.shape

(4760, 4760)

In [ ]:
Favourite_Movie_Name = input('Enter your favourite movie name: ')

In [ ]:
All_Movies_Title_List = df['Movie_Title'].tolist()

In [ ]:
import difflib

In [ ]:
Movie_Recommendation = difflib.get_close_matches(Favourite_Movie_Name, All_Movies_Title_List)
print(Movie_Recommendation)

In [ ]:
Close_Match = Movie_Recommendation[0]
print(Close_Match)

In [ ]:
Index_of_Close_Match_Movie = df[df.Movie_Title == Close_Match]['Movie_ID'].values[0]
print(Index_of_Close_Match_Movie)

In [ ]:
#getting a list of similar movies
Recommendation_Score = list(enumerate(Similarity_Score[Index_of_Close_Match_Movie]))
print(Recommendation_Score)

In [ ]:
len(Recommendation_Score)

## **Modelling**

In [ ]:
#sorting the movies based on their similarity score
Sorted_Similar_Movies = sorted(Recommendation_Score, key = lambda x:x[1], reverse=True)
print(Sorted_Similar_Movies)

## **Model Evaluation**

In [ ]:
#print the name of similar movies based on the index
print('Top 30 Movies Suggested for you: \n')
 
i=1
for movie in Sorted_Similar_Movies:
  index = movie[0]
  title_from_index = df[df.index==index]['Movie_Title'].values[0]
  if(i<31):
    print(i, '.', title_from_index)
    i+=1

## **Prediction**

In [ ]:
Movie_Name = input('Enter your favourite movie name: ')

list_of_all_titles = df['Movie_Title'].tolist()

Find_Close_Match = difflib.get_close_matches(Movie_Name, list_of_all_titles)

Close_Match = Find_Close_Match[0]

Index_of_Movie = df[df.Movie_Title == Close_Match]['Movie_ID'].values[0]

Recommendation_Score = list(enumerate(Similarity_Score[Index_of_Movie]))

sorted_similar_movies = sorted(Recommendation_Score, key = lambda x:x[1], reverse=True)

print('Top 10 Movies suggested for you: \n')

i=1

for movie in sorted_similar_movies:
  index = movie[0]
  title_from_index = df[df.Movie_ID==index]['Movie_Title'].values
  if(i<11):
    print(i, '.', title_from_index)
    i+=1

## **Explanation**
Making a selection is more difficult the more options there are. For modern movie viewers, who have thousands of films to choose from, this is especially true. But because to machine learning, we now have suggestion systems that use its sophisticated algorithms and methods.

Today's most well-known streaming services frequently include movie recommendation systems, offering a more individualised experience and raising user happiness across all devices. What makes us require them? Around 500,000 movies have reportedly been released worldwide, a number that is uncontrollable by any one person. With so many movies to choose from, creating and enhancing recommendation systems with ML was an essential step in making this process simple and doable.